version: '3'
services:
  db:
    image: postgres
    environment:
      - POSTGRES_PASSWORD=password
  server:
    build: .
    volumes:
      - .:/palladium
    ports:
      - "80:80"
    command: ["bundle", "exec", "puma"]
    tty: true
    environment:
      - JWT_SECRET=abc
      - JWT_ISSUER=abc
      - RACK_ENV=test
    depends_on:
      - db
