<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="css/main-styles.css">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <script src="javascript/runs.js"></script>
  <script src="javascript/plans.js"></script>
  <script src="javascript/products.js"></script>
  <script src="javascript/sdk.js"></script>
    <meta charset="UTF-8">
    <title>Palladium</title>
</head>
<body>
<!--Top toolbar region start-->
<div class="top-toolbar">
  <div class="palladium-name">Palladium</div>
</div>
<!--Top toolbar region end-->

<!--Products region start-->
<div class="product-region">
<p><label>Product name</label><input id="new-product-name"/></p>
<button id="create-new-product">Create New Product</button>
<p>----------------------------------------<p/>

<p><label>Product id</label><input id="delete-product-id"/></p>
<button id="delete-product">Delete Product</button>

<p>----------------------------------------<p/>
<button id="show-all-products" action="products">Show All Products</button>
  <table id="products-list">
    <tbody>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Time</th>
    </tr>
    </tbody>
  </table>
<p>----------------------------------------<p/>
<p><label>Product id</label><input id="edit-product-id"/></p>
<p><label>Product name for changing</label><input id="edit-product-name"/></p>
<button id="update-product">Update Product</button>
<p>----------------------------------------<p/>

<p><label>Product id</label><input id="show-product-id"/></p>
<button id="show-product">Show Product</button>
  <table id="show-product-list">
    <tbody>
    </tbody>
  </table>
</div>
<!--Products region end-->

<!--Plan region start-->
<div class="plan-region">
  <p><label>Plan name</label><input id="new-plan-name"/></p>
  <p><label>Product id</label><input id="new-plan-product_id"/></p>
  <button id="create-new-plan">Create New Plan</button>
  <p>----------------------------------------<p/>
  <p><label>Product id</label><input id="show-plans-product_id"/></p>
  <button id="show-plans">Show Plans From Product</button>
  <table id="show-plans">
    <tbody>
    </tbody>
  </table>
  <p>----------------------------------------<p/>
  <p><label>Plan id</label><input id="delete-plan-id"/></p>
  <button id="delete-plan">Delete Plan</button>
</div>
<!--Plan region end-->

<!--Run region start-->
<div class="run-region">
  <p><label>Run name</label><input id="new-run-name"/></p>
  <p><label>Plan id</label><input id="new-run-plan_id"/></p>
  <button id="create-new-run">Create New Run</button>
</div>
<!--Run region end-->
</body>
</html>