<html>
<head>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
</head>
<form id="login-form" method="post" action="/login">
  <p><label>Username</label><input id="user-email-field" name="post[user_data][email]"/></p>
  <p><label>Password</label><input id="user-password-field" name="post[user_data][password]"
                                   type="password"/></p>
  <p><button type="submit">Login</button></p>
</form>
</html>
<script>
    $(function() {
        $("form#login-form").submit(function(e){
            $form = $(this);
            e.preventDefault();
            $.ajax({
                type: "POST",
                url: $form.attr('action'),
                data: ({user_data: {email: $("#user-email-field").val(), password: $("#user-password-field").val()}}),
                statusCode: {
                    200: function () {
                        window.location.href="/";
                    },
                    201: function () {
                        $("#message").html("See errors in log")
                    },
                }

            });
        });
    });
</script>
<div id="message"></div>